
<div class="booyah-box col-xs-10 col-xs-offset-1">
    <h1>BowStat</h1>
        <h3>A place for bowyers to compile and compare bow performance statistics. 
        <%= link_to 'Add your stats', new_bow_path, class: 'btn btn-danger btn-lg' %></h3>
</div>
<br />
<br />
<% @stats.each do |stats| %>
    <div class="booyah-box col-xs-4 col-sm-2 col-xs-offset-1">
        <p>Tip-to-tip</p><li><%=stats.ttt_length %></li><br />
        <p>Nock-to-nock</p><li><%=stats.ntn_length %></li><br />
        <p>Type</p><li><%=stats.bow_type %></li><br />
        <p>Handle Style</p><li><%=stats.handle %></li><br />
        <p>Draw Length</p><li><%=stats.draw_length_inches %></li><br />
        <p>Draw Weight</p><li><%=stats.draw_weight_pounds %></li><br />
        <p>Avg Arrow Speed</p><li><%=stats.arrow_speed_fps %></li><br />
        <p>Wood Type</p><li><%=stats.wood_type %></li><br />
        <p>Backing</p><li><%=stats.backing %></li>

    </div>
<% end %>