<br />
<div class="booyah-box col-xs-10 col-xs-offset-1">
    <h1>Enter Your Stats</h1>
        <%= simple_form_for @stats, url: bows_path do |f| %>
            <%= f.input :ttt_length%>
            <%= f.input :ntn_length %>
            <%= f.input :type %>
            <%= f.input :handle %>
            <%= f.input :draw_length_inches %>
            <%= f.input :draw_weight_pounds %>
            <%= f.input :arrow_speed_fps %>
            <%= f.input :wood_type %>
            <br />
            <%= f.submit 'Create', class: 'btn btn-primary' %>
        <% end %>
</div>
